header {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 15px;
}

header img {
width: 160px;

}

header a {
    position: absolute;
    left: 30px;
}