.explore__btn {
    height: 45px;
    width: 200px;
    margin: 40px;
    color: #fff;
    background: #9456dc;
    background: linear-gradient(to top, #9456dc, #ff79db);
    border: none;
    border-radius: 25px;
    
  }
  