//
// Heart
//
.heart {
  position: relative;
  align-self: center;
  cursor: pointer;
}
.checked {
  position: absolute;
  right: 0;
  left: 0;
  line-height: 1rem;
  opacity: 0;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  transition: opacity 400ms ease-in-out;

  &:hover {
    background: $gradient-bottom;
    -webkit-background-clip: text;
    opacity: 1;
  }
}
