.explore__btn {
    height: 50px;
    width: 200px;
    margin: 40px;
    color: #fff;
    background: #9456dc;
    background: linear-gradient(to top, #9456dc, #ff79db);
    border: none;
    border-radius: 25px;
    box-shadow: 2px 7px 16px 0px rgba(170, 170, 170, 0.75);
    
  }
  